.about-message {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
  max-width: 500px;
}

.about-message h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-message p {
  font-size: 18px;
  line-height: 1.5;
}
