.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form p {
  color: rgb(248, 183, 205);
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
}

.contact-form textarea {
  min-height: 120px;
  resize: vertical;
}

.contact-form button {
  background-color: rgb(248, 183, 205);
  color: white;
  border: none;
  padding: 12px 28px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background-color: white;
  color: rgb(248, 183, 205);
}
