.shop-section {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fff7f9;
}

.filter-buttons {
  text-align: center;
  margin: 30px 0;
}

.filter-buttons button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #f8b7cd;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 15px;
  color: #fff;
  transition: 0.3s;
}

.filter-buttons button:hover {
  background-color: #f79aba;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 0 20px 40px;
}